.Counter {
  text-align: center;
}

.links-counter {
  display: flex;
  width: 20%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  position: relative;
  top: 4rem;
}

a {
  text-decoration: none;
}

.btn-click {
  background: #FC4A1A;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  cursor: pointer;
  color: #fff;
  border: none;
}

.btn-click:hover {
  background:#F78733;
}

@media screen and (max-width:1000px) {
  .links-counter {
    width: 70%;
  }
}
